*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-color: beige;
}
h1{
    margin: 0 auto;
    text-align: center;
    font-size: 2.7rem;
    margin-top: 70px;
}
h2{
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    color: red;
}
label{
    white-space: nowrap;
}
button{
    margin: 20px auto;
    background-color: aliceblue;
    font-size: 1.1rem;
    border-radius: 5px;
}
#radio{
    margin-top: 10px;
}
#setup{
    /* width: 25%; */
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
}
#input{
    margin: 0 auto;
    
}
#field{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 90%;
    aspect-ratio: 1/1;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 25%;
    user-select: none;
    -webkit-user-select: none;
}
.row{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: max-content;
    align-self: center;
    user-select: none;
    -webkit-user-select: none;
}
.col{
    margin: 0 auto;
    max-width: 50px;
    max-height: 50px;
    aspect-ratio: 1/1;
    background-color: orangered;
    border: 1px solid black;
    font-size: 3vw;
    text-align: center;
    box-shadow: 1px 2px 2px 1px inset darkorange;
    user-select: none;
    -webkit-user-select: none;
}
.flag{
    background-image: url(./img/flag.png);
    background-position: center;
    background-size: cover;
    user-select: none;
    -webkit-user-select: none;
}
.mine{
    background-image: url(./img/akna1.png);
    background-position: center;
    background-size: cover;
    background-color: orangered;
    /* visibility: visible;
    visibility: inherit;
     */
}
.bumm{
    background-image: url(./img/akna3.png);
    background-position: center;
    background-size: cover;
    background-color: orangered;

}
.flaggedmine{
    background-color: blue;
}
/* .exposed{
    background-color: green;
} */
footer{
    text-align: center;
}
@media only screen and (min-width: 900px) {
    h1{
        font-size: 3.2rem;
    }
}
